@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.nav-EB {
    background-color: #fff;
    display: grid;
    position: absolute;
    top: 0;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.nav-btn {
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-btn:nth-child(2) {
    grid-area: 1/9/2/10;
}

.nav-btn:nth-child(4) {
    grid-area: 1/9/2/10;
}

.nav-btn:nth-child(3) {
    grid-area: 1/10/2/11;
}

.nav-btn.out {
    color: brown;
    cursor: pointer;
}

.nav-btn.out:hover {
    color: red;
}

.nav-btn:hover {
    color: gray;
}