@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.sign-in._form {
    height: 30%;
}

.sign-in_input-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.sign-in_control-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-top: 1px solid #dadde1;
}

.sign-in._input {
    height: 40px;
    width: 300px;
}

.sign-in._btn {
    height: 40px;
    width: 150px;
    margin-top: 10px;
}

.sign-in_policy {
    display: flex;
    flex-direction: column;
    height: 70%;
    max-height: 90px;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
    color: #777;
    font-size: 11px;
    line-height: 17px;
    font-family: 'Nunito Sans', sans-serif;
}

.sign-in_forgot {
    color: #1877f2;
    display: flex;
}

.error-message {
    font-size: 12px;
    list-style-type: none;
    color: #c52f2c;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

._none {
    display: none;
}


@media only screen and (max-width: 1600px) {
    .sign-in._form {
        height: 55%;
        padding: 5px 0 5px 0px;
    }

    .sign-in_policy {
        height: 70%;
    }

    .sign-in_input-wrapper {
        height: 60%;
    }

    .sign-in._title {
        font-size: 15px;
    }

    .sign-in ._btn {
        height: 35px;
        width: 150px; 
        margin-top: 5px;
    }
    .sign-in._input {
        height: 30px;
    }
  }
