@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-dark: #000000;
    --primary-dark-hover: #414141;
    --primary-borders: #acacac;
    --primary-input-outline: #03a8f4;
    --primary-boxes-shadow: 13px 13px 9px -7px #bfbfbf;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.FE-section_login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    width: 28%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--primary-borders);
    border-radius: 5px;
    box-shadow: var(--primary-boxes-shadow);
}

.login-inputs {
    display: grid;
    width: 100%;
    height: 60%;
    grid-template-columns: repeat(1, 1fr);
}

.login-info {
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.login-title {
    display: grid;
    font-family: 'Roboto Mono', monospace;
}

.password:focus,
.email:focus {
    outline: 3px solid var(--primary-input-outline);
    border: none;
    transition: 0.4s;
}

.password,
.email {
    display: grid;
    width: 80%;
    height: 50%;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto Mono', monospace;
    border: 1.5px solid var(--primary-borders);
    border-radius: 3px;
    outline-offset: 1px;
}

.login-btn {
    display: grid;
    width: 50%;
    height: 40%;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: var(--primary-dark);
    color: white;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    border: none;
}

.login-btn:hover {
    background-color: var(--primary-dark-hover);
    transition: 0.3s;
}


/* BIG SCREENS */
@media only screen and (min-width: 1600px) {
    .login-form {
        width: 20%;
        height: 50%;
    }
}